<div class="container">
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginClick()" *ngIf="!isLoading">
    <h3>SIGN IN</h3>
    <div class="alert alert-danger" *ngIf="errorMessage"><p>{{errorMessage}}</p></div>
    <div class="form-group">
      <label class="col-sm-6" for="username">User Name:</label>
      <div class="col-sm-3">
        <input type="text" name="username" formControlName="username" class="form-control" />
        <span class="help-block" *ngIf="form.username.invalid && form.username.touched">
           <span *ngIf="form.username.errors.required">Username is required</span>
          </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6" for="password">Password:</label>
      <div class="col-sm-3">
        <input type="password" name="password" formControlName="password" class="form-control" />
        <span *ngIf="form.password.invalid && form.password.touched" class="help-block">
            <span *ngIf="form.password.errors.required">Password is required</span>
        </span>
      </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
          Login
        </button>
    </div>
  </form>
</div>
