<div class="container">
  <div class="row" *ngIf="products">
    <h2 class="col-sm-10">Products</h2>
    <div class="col" *ngIf="isAdmin || isCustomer">
      <button class="btn btn-primary" routerLink="/shoppingcart" routerLinkActive="active">CART</button>
    </div>
    <div class="col">
      <button [disabled]="!isAdmin" class="btn btn-primary" routerLink="/product-add" routerLinkActive="active">ADD</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="th">Category</th>
          <th class="th">Product Name</th>
          <th class="th">Price</th>
          <th class="th"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="td">{{product.category}}</td>
          <td class="td">{{product.name}}</td>
          <td class="td">{{product.price}} RON</td>
          <td class="td">
            <a routerLink="/product/{{product.id}}" [title]="product.name + ' details'">></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
