<div class="container">
  <div class="row">
    <h2 class="col-sm-10">Shopping Cart</h2>
    <div class="col-sm-2">
      <button class="btn btn-primary" (click)="onCheckoutClick()">CHECKOUT</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="th">Category</th>
          <th class="th">Product Name</th>
          <th class="th">Price</th>
          <th class="th">Quantity</th>
          <th class="th"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td class="td">{{item.product.category}}</td>
          <td class="td">{{item.product.name}}</td>
          <td class="td">{{item.product.price}} RON</td>
          <td class="td">{{item.quantity}}</td>
          <td class="td">
            <button (click)="deleteFromShoppingCart(item.product)">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
